<template>
  <v-container>
    <v-btn large color="success" v-on:click="navigateTo('Eventos')">
      <v-icon left>list</v-icon> EVENTOS
    </v-btn>
    <v-btn large color="warning" v-on:click="navigateTo('Tiempo')">
      <v-icon left>wb_sunny</v-icon> EL TIEMPO
    </v-btn>

  </v-container>
</template>

<script>
  export default {
    name: "Ciudad",
    data() {
      return {}
    },
    methods: {
      navigateTo(to){
        this.$router.push({ name: to, params: { ciudad: this.$route.params.ciudad } });
      }
    }
  }
</script>

<style scoped>

</style>
