<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card color="cyan" class="white--text">
          <v-container fluid>
            <template v-if="currentData">
              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">{{ 'Tiempo actual: ' + this.currentData.name }}</h3>
                </div>
              </v-card-title>
              <v-container class="text-sm-left">
                <p>{{ 'LAT: ' + this.currentData.coord.lon + ' LON: ' + this.currentData.coord.lat }}</p>
                <p>{{ this.currentData.weather[0].description }}</p>
                <p>{{ 'Temperatura: ' + this.currentData.main.temp + ' grados'}}</p>
                <p>{{ 'Temperatura mínima: ' + this.currentData.main.temp_min + ' grados'}}</p>
                <p>{{ 'Temperatura máxima: ' + this.currentData.main.temp_max + ' grados'}}</p>
                <p>{{ 'Humedad: ' + this.currentData.main.humidity + '%'}}</p>
                <p>{{ 'Velocidad del viento: ' + this.currentData.wind.speed }}</p>
              </v-container>
            </template>
            <template v-else>
              <div class="headline"> Selecciona una ciudad para obtener datos. </div>
            </template>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: "CurrentWeather",
    props: ["currentData"],
    data() {
      return {

      }
    },
    methods: {

    },
    watch: {

    },
    computed: {

    },
    destroyed() {

    }
  }
</script>

<style scoped>

</style>
