<template>
  <v-container>
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap>
        <v-flex sm6 xs12>
          <h3>Fecha inicio</h3>
          <v-date-picker v-model="min_date" :landscape="false" :reactive="false" locale="es" color="cyan"></v-date-picker>
        </v-flex>
        <v-flex sm6 xs12>
          <h3>Fecha fin</h3>
          <v-date-picker v-model="max_date" :landscape="false" :reactive="false" locale="es"color="cyan"></v-date-picker>
        </v-flex>
      </v-layout>
    </v-container>
    <br>
    <template v-if="!eventos || eventos.length <= 0">
      <h3> No hay eventos disponibles entre estas fechas </h3>
    </template>
    <template v-else>
      <template v-for="(evento, key) in eventos">
        <v-card color="cyan" class="text-sm-left">
          <v-card-title primary-title>
            <div>
              <h4 class="blue-grey--text">{{ 'Día: ' + evento.start.date + ' - Hora: ' + (evento.start.time ? evento.start.time : 'no disponible ') }}</h4><br>
              <h3 class="white--text">{{evento.displayName}}</h3>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn flat dark :href="evento.uri" target="_blank" >
              <v-icon left>link</v-icon> IR AL EVENTO
            </v-btn>
          </v-card-actions>
        </v-card>



        <br>
      </template>
    </template>
  </v-container>
</template>

<script>
  export default {
    name: "Eventos",
    data(){
      return{
        apiKey: 'Cglf2H7c7d4KPMO1',
        eventos: null,
        min_date: new Date().toISOString().slice(0,10),
        max_date: new Date().toISOString().slice(0,10),
      }
    },
    methods: {
      fetchEvents() {
        this.axios
          .get('https://api.songkick.com/api/3.0/search/locations.json?query=' + this.$route.params.ciudad + '&apikey=' + this.apiKey)
          .then(response => {
            let cityId = response.data.resultsPage.results.location[0].metroArea.id;
            this.axios
              .get('https://api.songkick.com/api/3.0/metro_areas/' + cityId + '/calendar.json?apikey=' + this.apiKey + '&min_date=' + this.min_date + '&max_date=' + this.max_date)
              .then(response2 => {
                this.eventos = response2.data.resultsPage.results.event;
              });
          });
      }
    },
    watch: {
      min_date: function(){
        this.fetchEvents();
      },
      max_date: function(){
        this.fetchEvents();
      }
    },
    created() {
      this.fetchEvents();
    }
  }
</script>

<style scoped>

</style>
