<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card color="orange lighten-2" class="white--text">
          <v-container fluid>
            <template v-if="forecastData">
              <v-card-title primary-title>
                <div>
                  <h2 class="headline mb-0">{{ 'Previsiones para '}}</h2>
                </div>
                <v-menu offset-y>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      color="orange darken-2"
                      dark
                      v-on="on"
                    >
                      <template v-if="dateSelected">
                        <p>{{  dateSelected.dt_txt }}</p>
                      </template>
                      <template v-else>
                        Fecha
                      </template>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-container
                      id="scroll-target"
                      style="max-height: 100px"
                      class="scroll-y"
                    >
                      <v-layout
                        v-scroll:#scroll-target="onScroll"
                        column
                        align-center
                        justify-center
                        style="height: 1000px"
                      >
                        <v-list-tile
                          v-for="(item, index) in forecastData.list"
                          :key="index"
                          @click="selectDate(item)"
                        >
                          <v-list-tile-title>{{ item.dt_txt }}</v-list-tile-title>
                        </v-list-tile>
                      </v-layout>
                    </v-container>
                  </v-list>
                </v-menu>
              </v-card-title>

              <template v-if="dateSelected">
                <v-container class="text-sm-left">
                  <p>{{ 'Tiempo: ' + dateSelected.weather[0].description }}</p>
                  <p>{{ 'Temperatura mínima: ' + dateSelected.main.temp_min}}</p>
                  <p>{{ 'Temperatura máxima: ' + dateSelected.main.temp_max}}</p>
                  <p>{{ 'Humedad: ' + dateSelected.main.humidity + '%'}}</p>
                </v-container>
              </template>
            </template>
            <template v-else>
              <div class="headline"> Selecciona una ciudad para obtener datos. </div>
            </template>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: "Forecast",
    props: ["forecastData"],
    data() {
      return {
        dateSelected: null,
      }
    },
    methods: {
      selectDate(data){
        this.dateSelected = data;
      }
    },
    watch: {

    },
    computed: {

    },
    destroyed() {
    }
  }
</script>

<style scoped>

</style>
