<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap style="background-color: lightgrey;">
      <template v-if="currentData && forecastData">
        <v-flex xs12>
          <v-flex xs12>
            <current :currentData="currentData"></current>
          </v-flex>
          <v-flex xs12>
            <forecast :forecastData="forecastData"></forecast>
          </v-flex>
        </v-flex>
      </template>
      <template v-else>
        <div class="headline"> Selecciona una ciudad para obtener datos. </div>
      </template>
    </v-layout>
  </v-container>
</template>

<script>
  import CurrentW from '../components/CurrentWeather'
  import Forecast from '../components/Forecast'
  import App from '../App'

  export default {
    name: "MeteoInfo",
    data() {
      return {
        forecastData: null,
        currentData: null
      }
    },
    components: {
      current: CurrentW,
      forecast: Forecast,
      app: App
    },
    methods: {
      fetchCurrentWeatherData() {
        this.axios
          .get('https://api.openweathermap.org/data/2.5/forecast?q=' + this.$route.params.ciudad + '&units=metric&lang=es&appid=644da4f2a1231c6611d2e2d8abb1fc90\n')
          .then(response => (this.forecastData = response.data))
        this.axios
          .get('https://api.openweathermap.org/data/2.5/weather?q=' + this.$route.params.ciudad + '&units=metric&lang=es&appid=644da4f2a1231c6611d2e2d8abb1fc90\n')
          .then(response => (this.currentData = response.data))
      }
    },
    created() {
      this.fetchCurrentWeatherData();
    },
    watch: {},
    computed: {}
  }
</script>

<style scoped>
</style>
