<template>
  <MeteoInfo></MeteoInfo>
</template>

<script>
  import MeteoInfo from '@/components/MeteoInfo'

  export default {
    name: "Tiempo",
    components:{
      MeteoInfo: MeteoInfo,
    },
  }
</script>

<style scoped>

</style>
