<template>
  <v-app>
    <v-layout wrap justify-center>
      <v-flex>
        <!-- TOOLBAR -->
        <v-toolbar color="cyan" dark fixed>
          <v-btn flat icon color="white">
            <router-link to="/" tag="span" style="cursor: pointer"><v-icon>waves</v-icon></router-link>
          </v-btn>

          <v-toolbar-title class="white--text">
            <router-link to="/" tag="span" style="cursor: pointer">Weather</router-link>
          </v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-container>
          <v-menu offset-y>
            <template v-slot:activator="{ on }">
              <v-btn
                color="blue grey"
                dark
                v-on="on"
              >
                <template v-if="selectedCity">
                  {{ selectedCity }}
                </template>
                <template v-else>
                  Ciudad
                </template>
              </v-btn>
            </template>

            <v-list>
              <v-container
                id="scroll-target"
                style="max-height: 200px"
                class="scroll-y"
              >
                <v-layout
                  v-scroll:#scroll-target="onScroll"
                  column
                  align-center
                  justify-center
                  style="height: 500px"
                >

                  <v-list-tile
                    v-for="(item, index) in europeCities"
                    :key="index"
                    @click="selectCity(item.name)"
                  >
                    <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                  </v-list-tile>
                </v-layout>
              </v-container>

            </v-list>
          </v-menu>

        </v-container>

        <router-view></router-view>
      </v-flex>
    </v-layout>
  </v-app>


</template>

<script>
  export default {
    name: 'App',

    data () {
      return {
        europeCities:[
          {name:'Amsterdam'},
          {name:'Barcelona'},
          {name:'Bruselas'},
          {name:'Berlín'},
          {name:'Lisboa'},
          {name:'London'},
          {name:'Madrid'},
          {name:'Oslo'},
          {name:'Paris'},
          {name:'Roma'},
          {name:'Valencia'}
        ],
        selectedCity: ''
      }
    },
    methods: {
      selectCity(city){
        this.selectedCity = city;
        this.$router.push({ name: 'Ciudad', params: { ciudad: city} });
      }
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
